<ul>
{% assign items = (site.docs | order: 'orden') %}
{% for document in items %}
    {% assign document_url = document.url %}
    {% if document_url == page.url %}
        {% if forloop.first %}
            {% assign previous = forloop.index0 | minus: 1 %}
            <span class="prev disabled">Previo</span>
        {% else %}
            {% assign previous = forloop.index0 | minus: 1 %}
            {% assign previous_page = items[previous].url | prepend:{{site.baseurl}} | remove: "index.html" %}
            <a href="{{ previous_page }}" class="prev">Previo: {{items[previous].title}}</a>
        {% endif %}
        {% if forloop.last %}
            {% assign next = forloop.index0 | plus: 1 %}
            <span class="next disabled">Siguiente</span>
        {% else %}
            {% assign next = forloop.index0 | plus: 1 %}
            {% assign next_page = items[next].url | prepend:{{site.baseurl}} | remove: "index.html"%}
            <a href="{{ next_page }}" class="next">Siguiente: {{items[previous].title}} </a>
        {% endif %}
    {% endif %}
{% endfor %}
